.calendarContainer {
  height: calc(100vh - 205px);
  width: 100%;
  padding: 30px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.calendar {
  border-radius: 15px;
  border: 1px solid var(--grey);
  max-height: 100%;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
