.calendar {
  max-height: 549px;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
