.calendarContainer {
  max-height: 75%;
  width: 100%;
  padding: 30px;
}

.calendar {
  border-radius: 15px;
  border: 1px solid var(--grey);
  max-height: 100%;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.monthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.daysContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}

.empty {
  background-color: var(--accent-grey);
}

.day:not(.empty) {
  border-radius: 5px;
}

.lowerBody {
  background-color: var(--accent-pink);
}

.speed {
  background-color: var(--accent-orange);
}

.upperBody {
  background-color: var(--accent-blue);
}

.recovery {
  background-color: var(--accent-green);
}
