.formContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introText {
  text-align: center;
  font-size: 14px;
  color: var(--grey);
  padding: 5px 0px;
}

.formContainer > form {
  width: 100%;
}

.form {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.inputContainer {
  position: relative;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 2;
  top: 7px;
  left: 7px;
}

.field {
  background-color: var(--accent-grey);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1) inset;
  border: none;
  border-radius: 5px;
  padding: 5px 5px 5px 35px;
  width: 100%;
}

.field::placeholder {
  color: var(--grey);
}

.error {
  color: crimson;
  text-align: center;
  font-size: 14px;
}

.button {
  border-radius: 5px;
  border: 1pz solid var(--dark-blue);
  box-shadow: 1px 1px 1px 0px rgba(14, 57, 74, 1) inset;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(14, 57, 74, 1) inset;
  -moz-box-shadow: 1px 1px 1px 0px rgba(14, 57, 74, 1) inset;
  background: linear-gradient(
    180deg,
    rgba(2, 29, 40, 1) 0%,
    rgba(2, 29, 40, 0.93) 100%
  );
  color: white;
  padding: 5px;
  text-shadow: 0px 1px 0px black;
}

.subtitle {
  font-size: 14px;
}

.subtitle > span {
  text-decoration: underline;
}
